body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    font-weight: bold;
    color: antiquewhite;

}

h1 {
    /* font-weight: bold; */
    color: goldenrod;
}

#message-el {
    font-style: italic;
}